<div class='container'>
  <div class="row">
  <div class="col-md-8 col-md-offset-2 gray-back">
    <table class="maintable table white-text text-center">
      <thead>
        <tr>
          <th colspan="2">
            <h1>Current Kid List - 2016 XMAS</h1>
          </th>
        </tr>
        <tr>
          <th><h3>Buyer:</h3></th>
          <th><h3>Buys For:</h3></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pairs in kidPairs">
          <td>Raymond</td>
          <td>Brendan</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 gray-back">
    <table class="maintable table white-text text-center">
      <thead>
        <tr>
          <th colspan="2">
            <h1>Current Adult List - 2016 XMAS</h1>
          </th>
        </tr>
        <tr>
          <th><h3>Buyer:</h3></th>
          <th><h3>Buys For:</h3></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pairs in adultPairs">
          <td>Raymond</td>
          <td>Brendan</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>