<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">O'Shea Grab Bag</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Login</a></li>
        <li><a href="#">Current List</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="jumbotron">
  <img class="img-responsive" src="http://i.imgur.com/L2fza4M.jpg?1" alt="">
</div>